.taskForm {
  display: flex;

  .item {
    margin-right: 20px;
  }

  .textField {
    width: 70%;

    .text {
      width: 100%;
    }
  }

  .submitButton {
    height: 55px;
    width: 100px;
  }
}